@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/raleway-800.woff2") format("woff2");
  font-display: swap;
}

:root {
  /* Project colors */
  --basic-black: #000000;
  --basic-dark: #444444;
  --basic-gray: #dcdcdc;
  --basic-lightgray: #ebebeb;
  --basic-light: #f0f0f0;
  --basic-white: #ffffff;
  --status-success: #08af00;
  --status-error: #ff3d3d;
  --status-warning: #fd912e;
  --special-yellow-dark: #ffc700;
  --special-yellow-light: #ffe17f;
  --special-purple: #af4fff;
  --special-brown: #64534a;
  /* Project fonts */
  --titles-font: "Raleway", sans-serif;
  --text-font: "Rubik", "Roboto", sans-serif;
  /* Widht's: full and content */
  --content-width: 1160px;
  --full-width: 1440px;
  /* Base bottom margin for sections */
  --section-bottom-margin: 70px;
}

.body {
  margin: 0;
  padding-top: 17px;
  font-family: var(--text-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-dark);
  overflow-wrap: break-word;
}

.section-title {
  margin: 0;
  padding: 0;
  font-family: var(--titles-font);
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: var(--basic-black);
}

.section-text {
  margin: 0;
}

/* Ссылка в параграфе текста */
.text-link {
  color: inherit;
}

/* Базовый стиль для ссылок-кнопок */
.link-style {
  font-size: inherit;
  font-family: var(--titles-font);
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: inherit;
  color: var(--basic-black);
}

/** HEADER **/

/* Поиск и меню аккаунта покупателя*/

.page-header {
  outline: 1px solid #fa8072;
}

.page-header .device-logo {
  margin-bottom: 30px;
}

.search-input {
  margin: 0;
  padding: 10px;
  padding-left: 48px;
  width: 360px;
  color: var(--basic-black);
  border: none;
  background-color: transparent;
  outline: 2px solid var(--basic-black);
}

.search-button {
  position: relative;
  right: 2px;
  margin: 0;
  padding: 10px 56px;
  width: 160px;
  border: none;
  outline: 2px solid var(--basic-black);
  font-family: var(--text-font);
  background-color: transparent;
}

.search-input::placeholder {
  opacity: 0.3;
}

.account-navigation-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--basic-black);
}

/* Сетка для хедера */

.page-container {
  width: var(--content-width);
  margin: 0 auto;
}

.navigation {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: var(--content-width);
  margin: 0 auto;
  padding: 0 60px;
  background-color: var(--special-yellow-light);
  outline: 1px solid #fa8072;
}

.account-navigation-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.account-navigation,
.main-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.account-navigation {
  width: 472px;
  justify-content: space-between;
}

.main-navigation-item {
  display: flex;
  align-items: center;
}

.icon-box {
  display: inline-flex;
  align-items: center;
}

.icon-entry {
  width: 13px;
  height: 12px;
  margin-right: 12px;
  outline: 1px solid #fa8072;
}

.icon-compare {
  width: 10px;
  height: 12px;
  margin-right: 12px;
  outline: 1px solid #fa8072;
}

.icon-basket {
  width: 16px;
  height: 14px;
  margin-right: 12px;
  outline: 1px solid #fa8072;
}

.icon-counter {
  display: flex;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 17px;
  background-color: var(--basic-white);
}

.main-navigation-item:not(:last-of-type) {
  margin-right: 45px;
}

.main-navigation-item:nth-of-type(2) {
  margin-left: auto;
}

/* .submenu-open-ico::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
  opacity: 0.3;
} */

/* Ссылки в подменю главного меню */
.catalog-navigation-link {
  font-size: 16px;
  line-height: 18px;
  text-decoration: inherit;
  color: var(--basic-black);
}

/* Кнопки - ссылки на странице */
.page-link {
  display: inline-block;
  padding: 10px 5px;
  background-color: #ffe17f;
  text-align: center;
}

/** СЛАЙДЕР **/

.promo {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--section-bottom-margin);
  outline: 1px solid #fa8072;
}

.promo-title {
  display: block;
  margin-bottom: 30px;
}

.promo-text {
  margin-bottom: 50px;
}

.promo-image {
  display: block;
}

.promo-link {
  width: 210px;
}

.promo-images-list,
.promo-desc-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.promo-pagination-container {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.promo-pagination {
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style-type: none;
  display: flex;
}

.promo-pagination-item + .promo-pagination-item {
  margin-left: 20px;
}

.promo-pagination-button {
  margin: 0;
  padding: 0;
  width: 12px;
  height: 12px;
  vertical-align: middle;
  background-color: var(--basic-white);
  border: 2px solid var(--basic-black);
  border-radius: 50px;
}

.promo-pagination-button-selected {
  background-color: var(--basic-black);
}

.promo-desc-list {
  width: 560px;
}

.promo-desc-item {
  padding-top: 121px;
}

.features-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
}

.features-list-box {
  display: flex;
  flex-direction: column-reverse;
}

.features-list-box:not(:last-of-type) {
  margin-right: 20px;
}

.features-name {
  font-size: 16px;
}

.features-param {
  margin: 0;
  margin-bottom: 12px;
  font-size: 36px;
  color: var(--basic-black);
}

/** Горизонтальный блок с категориями товаров **/
.category-goods {
  margin-bottom: var(--section-bottom-margin);
  outline: 1px solid #fa8072;
}

.category-goods-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: none;
}

.category-goods-item {
  width: 160px;
}

.category-goods-item:not(:nth-of-type(6n)) {
  margin-right: 40px;
}

.category-goods-item:nth-of-type(n+7) {
  margin-top: 20px;
}

.category-goods-link {
  text-decoration: none;
  color: var(--basic-black);
}

.category-goods-text {
  display: inline-block;
  font-family: var(--titles-font);
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.category-goods-logo {
  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 33px;
  background-color: var(--special-yellow-light);
}

/** Услуги: доставка, гарантия, кредит **/

.services {
  display: flex;
  margin-bottom: var(--section-bottom-margin);
  outline: 1px solid #fa8072;
}

.services-link {
  width: 150px;
}

.services-nav-container {
  padding: 65px 0;
  margin-right: 116px;
  border-right: 7px solid var(--basic-black);
}

.services-nav-list,
.services-desc-list {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-nav-list {
  width: 280px;
}

.services-desc-list {
  padding-top: 65px;
}

.services-nav-item:not(:last-of-type) {
  margin-bottom: 35px;
}

.services-desc-item {
  display: flex;
  width: 729px;
}

.services-desc-inner-box {
  width: 475px;
}

.services-title {
  margin-bottom: 34px;
}

.services-text:not(:last-of-type) {
  margin-bottom: 12px;
}

.services-logo {
  display: block;
  max-width: 180px;
  height: auto;
  margin-left: auto;
  align-self: flex-start;
}

.delivery-logo {
  content: url("/images/services-delivery.svg");
}

.warranty-logo {
  content: url("/images/services-warranty.svg");
}

.credit-logo {
  content: url("/images/services-credit.svg");
}

/** Доставим товар под заказ **/
.order {
  background-color: var(--basic-light);
  margin-bottom: var(--section-bottom-margin);
  outline: 1px solid #fa8072;
}

.order-link {
  display: flex;
}

.order-logo {
  width: 125px;
  min-height: 100px;
  background-color: var(--special-yellow-light);
  background-image: url("/images/auto.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 47px auto;
}

.order-title {
  margin: auto 0;
  padding: 12px 0;
  width: 910px;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

.order-title-ico {
  width: 40px;
  height: 40px;
  margin: auto 43px;
  border-radius: 50px;
  background-color: var(--basic-gray);
  opacity: 0.5;
}

/** О нас. Контакты **/

.section-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--section-bottom-margin);
  outline: 1px solid #fa8072;
}

.about {
  width: 500px;
  outline: 1px solid #fa8072;
}

.contacts {
  width: 510px;
  padding-right: 23px;
  outline: 1px solid #fa8072;
}

.divider {
  display: block;
  width: 85px;
  height: 7px;
  background-color: var(--basic-black);
}

.about .divider,
.contacts .divider {
  margin-bottom: 40px;
}

.about-title,
.contacts-title {
  margin-bottom: 48px;
}

.contacts-subtitle {
  margin: 0;
  margin-bottom: 15px;
  font-family: var(--titles-font);
  font-size: 24px;
  color: initial;
}

.about-text,
.contacts-text {
  margin-bottom: 30px;
}

.about-list,
.contacts-list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style-type: none;
}

.about-item {
  font-family: var(--titles-font);
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: initial;
}

.about-item:not(:last-of-type) {
  margin-bottom: 19px;
  font-family: var(--titles-font);
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: initial;
}

.about-link {
  width: 260px;
}

.contacts-link {
  width: 250px;
}

/** Подпишитесь на рассылку **/

.subscribe {
  background-color: var(--basic-light);
  padding-top: 64px;
  padding-bottom: 56px;
}

.subscribe > .page-container {
  display: flex;
  flex-direction: column;
  outline: 1px solid #fa8072;
}

.subscribe-container {
  display: flex;
  justify-content: space-between;
}

.subscribe-container:first-of-type {
  margin-bottom: 144px;
}

.subscribe-title {
  width: 500px;
}

.subscribe-text {
  display: inherit;
  width: 560px;
}

.form-subscribe {
  display: flex;
}

.subscribe-input {
  box-sizing: border-box;
  width: 557px;
  height: 57px;
  padding: 0;
  padding-left: 16px;
  border: 0;
  border-bottom: 3px solid #c4c4c4;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
}

.subscribe-input::placeholder {
  opacity: 0.5;
}

.subscribe-button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 253px;
  height: 57px;
  border: 3px solid #cecece;
}

.subscribe-notice {
  align-self: center;
}

/** FOOTER **/

.page-footer {
  color: var(--basic-white);
  background-color: var(--basic-dark);
  padding: 62px 0 61px 0;
}

.page-footer > .page-container {
  display: flex;
  flex-direction: column;
}

.page-footer .device-logo,
.page-footer .htmlacademy-logo {
  display: block;
}

.footer-container {
  display: flex;
}

.footer-container:first-of-type {
  margin-bottom: 35px;
}


.footer-container:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 47px;
}

.footer-container:nth-of-type(3) {
  display: flex;
  justify-content: space-between;
}

.footer-address-box,
.footer-phone-box {
  display: flex;
  flex-direction: column;
  width: 240px;
}

.footer-container .phone {
  text-align: right;
}

.footer-navigation-list,
.footer-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  text-align: center;
}

.footer-address-box .address + .address,
.footer-phone-box .phone + .phone {
  margin-top: 12px;
}

.footer-navigation-list {
  flex-wrap: wrap;
  max-width: 600px;
  justify-content: center;
}

.footer-navigation-item:not(:last-of-type) {
  margin-right: 35px;
}

.footer-social-item:not(:last-of-type) {
  margin-right: 15px;
}

.page-footer .divider {
  width: 80px;
  align-self: center;
  background-color: var(--special-yellow-dark);
  margin-right: 35px;
  /* ! Костылище!
  Установил правый паддинг, что бы выровнять кнопки соцсетей по центру страницы. Расчитывал: правый логотип width: 115px – левый divider width: 80px = 35px. В футере .divider уже по макету */
}

.address {
  font-style: normal;
}

.page-footer a {
  color: var(--basic-white);
}

.text-small {
  font-size: 16px;
  line-height: 20px;
}

.footer-social-link {
  display: block;
  width: 40px;
  height: 40px;
  background-color: var(--basic-white);
  opacity: 0.3;
  border-radius: 50%;
}

/** СТИЛИ КАТАЛОГА ТОВАРОВ **/

.main-catalog {
  background-color: var(--basic-light);
}

.catalog-header {
  background-color: var(--basic-white);
}

.catalog-header > .page-container {
  box-sizing: border-box;
  padding: 35px 0 35px 60px;
}

.catalog-title {
  margin-bottom: 16px;
}

.catalog-breadcrumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.catalog-breadcrumbs-item + .catalog-breadcrumbs-item {
  margin-left: 36px;
}

.breadcrumbs-link {
  line-height: 19px;
}

/** Фильтры. Сортировка. Карточки товаров **/

.catalog-goods {
  width: var(--content-width);
  margin: 0 auto;
  display: flex;
}

.catalog-left-container {
  box-sizing: border-box;
  width: 320px;
  padding: 25px 0 60px 60px;
  outline: 1px solid #fa8072;
}

.catalog-right-container {
  background-color: var(--basic-white);
  width: 840px;
  outline: 1px solid #fa8072;
}

.catalog-goods-title {
  margin: 0;
  font-family: var(--titles-font);
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  letter-spacing: 0.2em;
  color: var(--basic-black);
  text-transform: uppercase;
}

.catalog-goods-subtitle {
  padding: 0;
  margin: 0;
  padding-right: 10px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: var(--basic-black);
}

/* Фильтры */

.catalog-filter {
  width: 200px;
  /* outline: 1px solid #fa8072; */
}

.filter-title {
  padding-bottom: 60px;
}

.filter-subtitle {
  margin-bottom: 20px;
}

.filter-subtitle::before {
  display: block;
  position: relative;
  width: 200px;
  height: 2px;
  content: "";
  bottom: 12px;
  background-color: var(--basic-black);
}

.catalog-filter .filter-fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Отступы между блоками fieldset-ов фильтров 35px, но поскольку нельзя задать расстояние до псевдоэлемента (:before - разделительная линия сверху поля), то устанавливаю нижний margin в 47px до подзаголовка нижнего fieldset-а */

.catalog-filter .filter-fieldset:not(:last-of-type) {
  margin-bottom: 47px;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter-list-item {
  font-size: 16px;
  line-height: 19px;
  color: var(--basic-black);
}

.filter-list-item:not(:last-of-type) {
  margin-bottom: 17px;
}

.filter-button {
  margin-top: 35px;
  width: 220px;
}

/* Сортировка */

.sorting-container {
  height: 70px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--basic-light);
  outline: 1px solid #fa8072;
}

.sorting-order {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sorting-order-item {
  width: 30px;
  height: 30px;
  outline: 1px solid #fa8072;
}

/*  Карточки товаров */
.goods-cards {
  padding: 70px 40px 78px 40px;
}

.good-cards-desc-box {
  display: flex;
  justify-content: space-between;
}

.goods-cards-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-bottom: 44px;
}

.goods-cards-item {
  width: 360px;
}

.goods-cards-link {
  text-decoration: none;
}

.goods-image {
  display: block;
  margin-bottom: 32px;
}

.price-label {
  font-size: 15px;
  line-height: 18px;
  opacity: 0.3;
  text-align: center;
}

.item-price {
  line-height: 21px;
  text-decoration: none;
  color: var(--basic-dark);
}

.show-more-button {
  width: 100%;
  padding: 18px 40px;
  margin-bottom: 44px;
  border: 3px solid #e5e5e5;
  background-color: transparent;
}

.box-pagination {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--basic-lightgray);
}

.pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-dark);
  opacity: 0.3;
  text-decoration: none;
}

.pagination-link-back,
.pagination-link-forward {
  padding: 25px;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

.hidden {
  display: none;
}

