@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/raleway-800.woff2") format("woff2");
  font-display: swap;
}

:root {
  /* Project colors */
  --basic-black: #000000;
  --basic-dark: #444444;
  --basic-gray: #dcdcdc;
  --basic-lightgray: #ebebeb;
  --basic-light: #f0f0f0;
  --basic-white: #ffffff;
  --status-success: #08af00;
  --status-error: #ff3d3d;
  --status-warning: #fd912e;
  --special-yellow-dark: #ffc700;
  --special-yellow-light: #ffe17f;
  --special-purple: #af4fff;
  --special-brown: #64534a;
  /* Project fonts */
  --titles-font: "Raleway", sans-serif;
  --text-font: "Rubik", "Roboto", sans-serif;
  /* Widht's: full and content */
  --content-width: 1160px;
  --full-width: 1440px;
}

html {
  height: 100%;
}

.body {
  margin: 0;
  font-family: var(--text-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-dark);
}

.section-title {
  margin: 0;
  padding: 0;
  font-family: var(--titles-font);
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: var(--basic-black);
}

.contacts-subtitle {
  font-family: var(--titles-font);
  font-size: 24px;
  color: initial;
}

/* Поиск и меню аккаунта покупателя*/

.search-input::placeholder {
  opacity: 0.3;
}

.account-navigation-link {
  text-decoration: none;
  color: var(--basic-black);
}

/* Сетка для хедера */

.page-container {
  width: var(--content-width);
  margin: 0 auto;
  /* outline: 2px solid rgba(255, 0, 0, 0.5); */
}

.navigation {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: var(--content-width);
  margin: 0 auto;
  padding: 0 60px;
  background-color: var(--special-yellow-light);
}

.box-account-navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.search-input {
  margin: 0;
  padding: 0;
  width: 360px;
}

.search-button {
  margin: 0;
  padding: 0;
  width: 160px;
}

.account-navigation,
.main-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.account-navigation {
  width: 472px;
  justify-content: space-between;
}

.main-navigation-item:not(:last-of-type) {
  margin-right: 45px;
}

.main-navigation-item:nth-of-type(2) {
  margin-left: auto;
}

/* Базовый стиль для ссылок */
.link {
  font-size: inherit;
  font-family: var(--titles-font);
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: inherit;
  color: var(--basic-black);
}

/* Ссылка в тексте */
.text-link {
  color: inherit;
}

/* Ссылки в подменю главного меню */
.catalog-navigation-link {
  font-size: 16px;
  line-height: 18px;
  text-decoration: inherit;
  color: var(--basic-black);
}

/* Кнопки - ссылки на странице */
.page-link {
  text-align: center;
}

/** СЛАЙДЕР **/

.catalog-promo {
  display: flex;
  justify-content: space-between;
}

.promo-images-list,
.promo-desc-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.promo-desc-list {
  width: 560px;
}

.promo-desc-text {
  margin: 0;
}

.features-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.features-list-box {
  display: flex;
  flex-direction: column-reverse;
}

.features-name {
  font-size: 16px;
}

.features-param {
  margin: 0;
  font-size: 36px;
  color: var(--basic-black);
}

/** Вертикальный блок с категориями товаров **/

.category-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.category-item {
  width: 160px;
}

.category-link {
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: none;
}

.category-logo {
  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 33px;
  background-color: var(--special-yellow-light);
}

/** Услуги: доставка, гарантия, кредит **/

.services {
  display: flex;
  justify-content: space-between;
}

.services-list-box {
  width: 290px;
}

.services-desc-box {
  width: 760px;
}

.services-list,
.services-desc-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/** Доставим товар под заказ **/
.order {
  background-color: var(--basic-light);
}

.order-link {
  display: flex;
}

.order-link-logo {
  width: 125px;
  height: 100px;
  background-color: var(--special-yellow-light);
}

.order-link-text {
  margin: auto 0;
  flex-grow: 1;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

.order-link-text-ico {
  width: 40px;
  height: 40px;
  margin: auto 43px;
  border-radius: 50px;
  background-color: var(--basic-gray);
  opacity: 0.5;
}

/** О нас. Контакты **/

.section-container {
  display: flex;
  padding-right: 23px;
  justify-content: space-between;
}

.divider {
  display: block;
  width: 84px;
  height: 7px;
  background-color: var(--basic-black);
}

.about {
  width: 500px;
}

.contacts {
  width: 510px;
}

.about-list,
.contacts-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.about-item {
  font-family: var(--titles-font);
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: initial;
}

/** Форма подписки на рассылку **/

.subscribe {
  background-color: var(--basic-light);
}

.subscribe > .page-container {
  display: flex;
  flex-direction: column;
}

.subscribe-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscribe-title {
  width: 360px;
}

.subscribe-text {
  display: inherit;
  margin: 0;
  width: 560px;
}

.subscribe-input::placeholder {
  opacity: 0.5;
}

.subscribe-input {
  width: 557px;
  padding: 0;
  border: 0;
  line-height: inherit;
}

.subscribe-button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 253px;
}

/** ФУТЕР **/


.page-footer {
  color: var(--basic-white);
  background-color: var(--basic-dark);
  padding-bottom: 50px;
}

.page-footer > .page-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-footer a {
  color: var(--basic-white);
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-container:first-child {
  width: var(--content-width);
}

.footer-container:nth-child(2),
.footer-container:nth-child(4) {
  width: 240px;
}

.footer-container:nth-child(3) {
  align-items: center;
}

.footer-container:nth-child(4) {
  align-items: flex-end;
}

.footer-navigation,
.footer-social {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.footer-navigation-item + .footer-navigation-item {
  margin-left: 35px;
}

.footer-social-item + .footer-social-item {
  margin-left: 15px;
}

.page-footer .divider {
  background-color: var(--special-yellow-dark);
}

.address {
  font-style: normal;
}

.text-small {
  font-size: 16px;
  line-height: 20px;
}

.footer-social-link {
  display: block;
  width: 40px;
  height: 40px;
  background-color: var(--basic-white);
  opacity: 0.3;
  border-radius: 50%;
}

/** СТИЛИ КАТАЛОГА **/

.main-catalog {
  background-color: var(--basic-light);
}

.catalog-header {
  background-color: var(--basic-white);
}

.catalog-header > .page-container {
  box-sizing: border-box;
  padding-left: 60px;
}

.catalog-breadcrumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.catalog-breadcrumbs-item + .catalog-breadcrumbs-item {
  margin-left: 36px;
}

.breadcrumbs-link {
  line-height: 19px;
}

/** Фильтры. Сортировка. Карточки товаров **/

.filter-title {
  margin: 0;
  font-family: var(--titles-font);
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  letter-spacing: 0.2em;
  color: var(--basic-black);
  text-transform: uppercase;
}

.filter-subtitle {
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: var(--basic-black);
}

.catalog-goods {
  width: var(--content-width);
  margin: 0 auto;
  display: flex;
}

.catalog-left-container {
  box-sizing: border-box;
  width: 320px;
  padding-left: 60px;
}

.catalog-right-container {
  background-color: var(--basic-white);
  width: 840px;
}

.sorting-container {
  display: flex;
  background-color: var(--basic-light);
}

.form-filter {
  width: 200px;
}

.form-filter .filter-fieldset,
.form-filter .filter-subtitle {
  margin: 0;
  padding: 0;
}

.form-filter .filter-fieldset {
  border: 0;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.label-item {
  font-size: 16px;
  line-height: 19px;
  color: inherit;
}

.sorting-list {
  color: var(--basic-black);
}

.sorting-link {
  color: inherit;
  text-decoration: none;
}

.filter-button {
  width: 220px;
}

/* .goods-cards {

} */

.goods-cards-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.goods-cards-link {
  text-decoration: none;
}

.price-limit-label {
  font-size: 15px;
  line-height: 18px;
  opacity: 0.3;
  text-align: center;
}

.item-price {
  line-height: 21px;
}

.show-more-button {
  width: 760px;
}

.box-pagination {
  width: 760px;
  display: flex;
  background-color: var(--basic-lightgray);
}

.pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-dark);
  opacity: 0.3;
  text-decoration: none;
}

/*
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

.hidden {
  visibility: hidden;
}
*/
